html,
body {
  height: 100%;
  font-family: 'Encode Sans Condensed',sans-serif;
}

.qs-icon {
  font-size: 14px;
  margin-right: 5px;
  line-height: 1;
  font-variant: normal;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

